[submodule "llvm"]
	path = llvm
	url = https://github.com/matter-labs/era-compiler-llvm
	branch = main
	update = none
[submodule "era-solidity"]
	path = era-solidity
	url = https://github.com/matter-labs/era-solidity
	branch = 0.8.30-1.0.2
	update = none
