[submodule "llvm"]
	path = llvm
	url = git@github.com:vmolab/era-compiler-llvm.git
	branch = cogas-0.1.0-alpha.4
	update = none
[submodule "era-solidity"]
	path = era-solidity
	url = git@github.com:vmolab/era-solidity.git
	branch = cogas-0.1.0-alpha.4
	update = none
